# Virtual Environment
venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# Streamlit
.streamlit/secrets.toml

# VS Code
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# System Files
.DS_Store
Thumbs.db

# Logs
*.log

# Build Files
build/
dist/
*.egg-info/

# Temporary Files
temp/
tmp/